<!-- quarto-list.component.html -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.id}} </td>
      </ng-container>
  
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.nome}} </td>
      </ng-container>
  
      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.valor}} </td>
      </ng-container>
  
      <!-- Descrição Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.descricao}} </td>
      </ng-container>
  
      <!-- IsReservado Column -->
      <ng-container matColumnDef="isReservado">
        <th mat-header-cell *matHeaderCellDef> Reservado </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.isReservado ? 'Sim' : 'Não'}} </td>
      </ng-container>
  
      <!-- IsAtivo Column -->
      <ng-container matColumnDef="isAtivo">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.isAtivo ? 'Sim' : 'Não'}} </td>
      </ng-container>
  
      <!-- TipoQuarto Column -->
      <ng-container matColumnDef="tipoQuarto">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let quarto"> {{quarto.tipoQuarto.nome}} </td>
      </ng-container>
  
      <!-- Amenidades Column -->
      <ng-container matColumnDef="amenidades">
        <th mat-header-cell *matHeaderCellDef> Amenidades </th>
            <td mat-cell *matCellDef="let quarto">
                @for (amenidade of quarto.amenidades; track $index) {
                    {{amenidade.nome}} 
                }
            </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginar($event)">
    </mat-paginator>
  </div>
  